@media screen and (min-width: 1360px) {
    .indian-stats-div {
        height: 430px !important;
    }
}

@media screen and (min-width: 1366px) {
    .indian-stats-div {
        height: 430px !important;
    }
}

@media screen and (min-width: 1400px) {
    .indian-stats-div {
        height: 685px !important;
    }
}

@media screen and (min-width: 1440px) {
    .indian-stats-div {
        height: 560px !important;
    }
}

@media screen and (min-width: 1600px) {
    .indian-stats-div {
        height: 560px !important;
    }
}

@media screen and (min-width: 1680px) {
    .indian-stats-div {
        height: 695px !important;
    }
}

@media screen and (min-width: 1920px) {
    .indian-stats-div {
        height: 705px !important;
    }
}