@media screen and (min-width: 1360px) {
    .district-stats-div {
        height: 530px !important;
    }
}

@media screen and (min-width: 1366px) {
    .district-stats-div {
        height: 525px !important;
    }
}

@media screen and (min-width: 1400px) {
    .district-stats-div {
        height: 785px !important;
    }
}

@media screen and (min-width: 1440px) {
    .district-stats-div {
        height: 650px !important;
    }
}

@media screen and (min-width: 1600px) {
    .district-stats-div {
        height: 660px !important;
    }
}

@media screen and (min-width: 1680px) {
    .district-stats-div {
        height: 795px !important;
    }
}

@media screen and (min-width: 1920px) {
    .district-stats-div {
        height: 795px !important;
    }
}