@media screen and (min-width: 1360px) {
    .world-stats-div {
        height: 465px !important;
    }
}

@media screen and (min-width: 1366px) {
    .world-stats-div {
        height: 460px !important;
    }
}

@media screen and (min-width: 1400px) {
    .world-stats-div {
        height:735px !important;
    }
}

@media screen and (min-width: 1440px) {
    .world-stats-div {
        height: 590px !important;
    }
}

@media screen and (min-width: 1600px) {
    .world-stats-div {
        height: 590px !important;
    }
}

@media screen and (min-width: 1680px) {
    .world-stats-div {
        height: 730px !important;
    }
}

@media screen and (min-width: 1920px) {
    .world-stats-div {
        height: 740px !important;
    }
}